.quickview{
    position: fixed;
    z-index: 2;
    background-color: $black_color;
    border-radius: 10px;
    height: 70vh;
    max-width: 60vw;
    top: 70px;
    box-shadow: 0 0 10px $black_color;
    margin: 0 auto;
    overflow-y: scroll;
    visibility: hidden;

    &__video{
        position: relative;
        height: 60%;
        // margin-top: -4.5%;
        width: auto;
        overflow-x: hidden;
    }

    &__banner{
        
        height: 50vh;
    }

    &__content{
        padding: 3rem;
        font-size: 1rem;

        ul{
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 8px;
            

            li{
                background: $Netflix_color;
                border-radius: 18px;
                font-size: 0.7rem;
                margin: 0 4px 4px 0;
                padding:4px;
            }
    
        }
    }

    &__title{
        margin-bottom: 10px;
    }

    &__date{
        margin-bottom: 15px;
    }

    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: none;
        color: $white_color;
        z-index: 10;
    }

    &.open{
         visibility: visible;
    }

    &::-webkit-scrollbar {
        display: none;
        }

    @media screen and (min-width:768px) {
        width: 70%;
        left: 15%;
        right: 15%;
        // transform: translateX(-30%);
    }
}