


$white_color: #fff;
$black_color: #000;
$footer: grey;
$Netflix_color: #B91A20;



body {
    margin: 0;
    padding: 0;
    font-family:'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $black_color;
  
  }
  
  :is(*, ::before, ::after){
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
  }

 :is(h1, p){
  margin-bottom: 1rem;
  @media screen and (min-width:768px) {
    margin-bottom: 1.5rem;

  }
 }


  button{
    background: none;
    border: none;
    cursor: pointer;
  }

  a{
    text-decoration: none;
  }

  li{
    list-style: none;
  }

  
